:root{
    --main_color: #a972fd;
    --background_color: #22212C;
    --background_color_inner: #383648;
    --menu_background_color_color: #333;
    --text_color: #f2f2f2;
    --line_color: #828282;
    --darker: #00000030;
    --lighter: #ffffff30;
}

body{
    font-family: "Edu NSW ACT Foundation", sans-serif;
    font-size: 20px;
    background-color: var(--background_color);
}

hr{
    border-color: var(--line_color);
}

h1{
    color: var(--text_color);
    text-align: center;
    font-size: 80px;
}

h2{
    color: var(--text_color);
    margin-left: 20px;
}

p{
    color: var(--text_color);
}

h3{
    color: var(--text_color);
    text-align: center;
    font-size: 40px;
}

label{
    color: var(--text_color);
}

button{
    font-family: "Edu NSW ACT Foundation", sans-serif;

    background-color: var(--background_color);
    color: var(--text_color);

    border: solid;
    border-color: var(--darken_background_color);
    border-radius: 5px;
    border-width: 1px;

    padding: 10px;
    margin: 10px;
    padding-left: 40px;
    padding-right: 40px;

    font-size: 20px;
}

button:hover{
    background-color: var(--main_color);
}

input[type=text]{
    background-color: var(--background_color_inner);
    color: var(--text_color);
    border: solid;
    border-color: var(--darken_background_color);
    border-radius: 5px;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    width: 200px;
    font-family: "Edu NSW ACT Foundation", sans-serif;
}

.flex_row_center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex_column_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.image3{
    width: 800px;
}

.center{
    display: flex;
    justify-content: center;
}

.small_margin{
    margin: 20px;
}

.spacer{
    height: 49px;
}
