

body{
    font-family: "Edu NSW ACT Foundation", sans-serif;
    font-size: 20px;
    background-color: #22212C;
}

hr{
    border-color: var(--line_color);
}

h1{
    color: var(--text_color);
    text-align: center;
    font-size: 80px;
}

h2{
    color: var(--text_color);
    margin-left: 20px;
}

p{
    color: var(--text_color);
}

button{
    font-family: "Edu NSW ACT Foundation", sans-serif;

    background-color: var(--background_color);
    color: var(--text_color);

    border: solid;
    border-color: var(--darken_background_color);
    border-radius: 5px;
    border-width: 1px;

    padding: 10px;
    margin: 10px;
    padding-left: 40px;
    padding-right: 40px;

    font-size: 20px;
}

button:hover{
    background-color: var(--main_color);
}

.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px;
}

.no_border{
    border: none;
}

.text_center{
    text-align: center;
}

.text_right{
    text-align: right;
}

.darker{
    background-color: var(--darker);
}

.lighter-border{
    border: solid;
    border-color: var(--lighter);
    border-radius: 5px;
    border-width: 1px;
}
