:root {
    --main_color: #a972fd;
    --background_color: #22212C;
    --background_color_inner: #383648;
    --menu_background_color_color: #333;
    --text_color: #f2f2f2;
}

#players_list, #line_counter {
    font-family: lucida console, courier new, courier, monospace;
    margin: 0;
    padding: 10px 0;
    height: 33vh;
    border-radius: 0;
    resize: none;
    font-size: 16px;
    line-height: 1.2;
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#line_counter:focus-visible,
#players_list:focus-visible {
    outline:none;
}
#line_counter {
    display: flex;
    border-color: transparent;
    overflow-y: hidden;
    text-align: right;
    box-shadow: none;
    color: var(--background_color)#707070;
    background-color: var(--background_color);
    position: absolute;
    width: 2.5rem;
    /* Determine appearance of line counter */
    background-color:var(--background_color_inner);
    border-style: hidden;
    border-right-style: solid;
    border-right-color: var(--background_color);
    color: var(--text_color);
}

#players_list {
    padding-left: calc(3.5rem + 5px);
    width:100%;
    /* Determine appearance of code editor */
    background-color: var(--background_color_inner);
    border-style: hidden;
    color: var(--text_color);
}
