h1{
    color: #FFF;
    text-align: center;
}

h2{
    color: #FFF;
    margin-left: 20px;
}

p{
    color: #FFF;
}

button{
    font-family: "Edu NSW ACT Foundation", sans-serif;

    background-color: var(--background_color);
    color: var(--font_color);

    border: solid;
    border-color: var(--darken_background_color);
    border-radius: 5px;
    border-width: 1px;

    padding: 10px;
    margin: 10px;
    padding-left: 40px;
    padding-right: 40px;

    font-size: 20px;
}

button:hover{
    background-color: var(--main_color);
}

.spacer{
    height: 49px;
}

.frame_summit_button{
    display: flex;
    justify-content: center;
}

.center{
    display: flex;
    justify-content: center;
}


.player-lists-grid-container{
    display: grid;
    grid-template-columns: 300px 40px 40px 40px 300px 100px 300px 40px 40px 40px 300px;
    grid-gap: 10px;
    padding: 10px;
    color: var(--text_color);
}
.player-lists-grid-item{
    border-style: solid;
    border-color: var(--darken_background_color);
}

.darker{
    background-color: var(--darker);
}

.no_border{
    border: none;
}

.text_center{
    text-align: center;
}
